<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <ResultsDirectory>./TestResults</ResultsDirectory>
    <!-- 0 = let the adapter decide based on available cores -->
    <MaxCpuCount>0</MaxCpuCount>
  </RunConfiguration>

  <NUnit>
    <NumberOfTestWorkers>4</NumberOfTestWorkers>
  </NUnit>
</RunSettings>
